.input {
  font-size: 18px;
  color: $white;

  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $gray;

  padding: 10px 10px 10px 5px;
  margin-top: 15px;

  &:focus ~ &,
  &:valid ~ & {
    border-bottom: none;
  }

  &__wrapper {
    position: relative;
    margin-bottom: 15px;
  }

  &__label {
    color: $gray;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 25px;
    transition: 0.3s ease all;
  }

  &:focus ~ &__label,
  &:valid ~ &__label {
    top: 0px;
    font-size: 14px;
    color: $orange;
  }

  &__bar {
    position: relative;
    display: block;

    &::before,
    &::after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: $orange;
      transition: 0.3s ease all;
    }

    &::before {
      left: 50%;
    }
    &::after {
      right: 50%;
    }
  }

  &:focus ~ &__bar::before,
  &:focus ~ &__bar::after {
    width: 50%;
  }

  &__highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  &:focus ~ &__highlight {
    animation: inputHighlighter 0.3s ease;
  }
}

@keyframes inputHighlighter {
  from {
    background: $orange;
  }
  to {
    width: 0;
    background: transparent;
  }
}
