*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  color: $white;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
  background-color: $primary-black;
}

a {
  width: auto;
  text-decoration: none;
  color: $white;
}

.container {
  max-width: 1060px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 50px;

  &__year {
    content: '';
    position: absolute;
    bottom: 50px;
    right: 50px;

    font-size: 84px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    opacity: 0.5;
  }
}

.numeric-item {
  padding-left: 20px;
  list-style-type: decimal;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
}

.error-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: $primary-black;
  color: $white;
  font-size: 76px;
}

.error__name {
  position: relative;
  font-size: 96px;
  letter-spacing: -7px;
  animation: glitch 1s linear infinite;
}

.error__name::before,
.error__name::after {
  content: '404';
  position: absolute;
  left: 0;
}

.error__name::before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.error__name::after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

.pt-screen {
  padding-top: 100px;
}

.pt100 {
  padding-top: 100px;
}

.pb100 {
  padding-bottom: 100px;
}

.pt80 {
  padding-top: 80px;
}

.pb80 {
  padding-bottom: 80px;
}

.mt20 {
  margin-top: 20px;
}

.player {
  margin-top: 85px;
}

@media (max-width: $phone) {
  .container {
    max-width: 540px;
  }

  .numeric-list {
    padding-left: 5%;
  }

  .numeric-item {
    margin-left: 10px;
  }

  .intro__year {
    font-size: 58px;
    right: 25px;
  }

  .error__name {
    font-size: 74px;
  }

  .error-container {
    font-size: 42px;
  }

  .pt-screen {
    padding-top: 90px;
  }

  .pt100 {
    padding-top: 40px;
  }

  .pb100 {
    padding-bottom: 40px;
  }

  .pt80 {
    padding-top: 30px;
  }

  .pb80 {
    padding-bottom: 30px;
  }
}

@media (min-width: $phone) and (max-width: $desktop) {
  .container {
    max-width: 720px;
  }
  .pt100 {
    padding-top: 50px;
  }
  .pb100 {
    padding-bottom: 50px;
  }
}

@media (min-width: $desktop) {
  .container {
    max-width: 960px;
  }
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}
