// Colors
$white: #fafafa;

$primary-black: #0e1011;
$secondary-black: #1a1d22;
$rgba-black: rgba(26, 29, 34, 0.6);

$gray: #8a8a8a;
$orange: #ff8514;
$green: #6fcf97;

// Breakpoints
$desktop: 992px;
$tablet: 768px;
$phone: 576px;
