.advantages-table {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;

  background-color: $secondary-black;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 35px;

  &__left-list {
    width: 550px;
  }

  &__left-item {
    position: relative;
    line-height: 1.3;
    margin-left: 37px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -25px;
      transform: translateY(-50%);

      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: $white;
    }
  }
  &__left-item + &__left-item {
    margin-top: 10px;
  }

  &__right-list {
    width: 400px;
    margin-left: 20px;
  }

  &__right-item {
    position: relative;
    line-height: 1.3;
    margin-left: 37px;
    font-size: 20px;

    &::before {
      content: '\2713';
      position: absolute;
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      font-size: 28px;
      color: $green;
    }
  }
  &__right-item + &__right-item {
    margin-top: 10px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $orange;
  }
}

@media (max-width: $phones) {
  .advantages-table {
    flex-direction: column;
    padding: 25px 5px;
    &__left-list {
      width: 100%;
    }
    &__right-list {
      width: 100%;
      margin: 15px 0 0;
    }

    &__right-item {
      font-size: 18px;
    }
  }
}

@media (min-width: $phones) and (max-width: $desktop) {
  .advantages-table {
    padding: 15px;

    &__right-list::before {
      font-size: 24px;
    }

    &__left-item {
      margin-left: 30px;

      &::before {
        width: 8px;
        height: 8px;
        left: -20px;
      }
    }
  }
}
