.table {
  width: 100%;
  background-color: $secondary-black;
  border-radius: 30px;

  &__header-item-content {
    background-color: $orange;
    padding: 12px;
    font-size: 28px;

    &.left {
      border-top-left-radius: 30px;
    }
    &.right {
      border-top-right-radius: 30px;
    }
  }

  &__body-item-content {
    font-size: 18px;
    padding: 20px;
  }
}

@media (max-width: $phone) {
  .table-container {
    overflow: scroll;
  }
}
